.number-online {
  position: relative;
  top: 0;
  right: 0;
  color: white;
  display: flex;
  gap: 0.5em;
  align-items: center;
  position: absolute;
  color: #666;
  transition: opacity 250ms linear;
}

.dot {
  width: 0.5em;
  height: 0.5em;
  aspect-ratio: 1;
  border-radius: 50%;
}

.bg-lime {
  background-color: lime;
}

.bg-gray {
  background-color: gray;
}

.transparent {
  opacity: 0;
}

.small-hearts-layer {
  pointer-events: none;
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
