* {
  box-sizing: border-box;
  touch-action: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  font-family: system-ui, sans-serif;
}

body {
  background-color: black;
  width: 100vw;
  height: 100dvh;
  padding: 1em;
  margin: 0;
}

#root {
  position: relative;
  user-select: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
